.search-result ul {
  list-style-type: none;
}

.search-result a {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 180%;
  letter-spacing: 0.5px;
  color: #9098B1;
  text-decoration: none;
}
.search-result li {
  margin: 16px 0;
  padding: 16px 0;
}

input[type=search]::-webkit-search-cancel-button {
  content: '';
  display: none;
}

.search-icon {
  position: absolute;
  right: 16px;
  top: 14px;
}